    <section class="content_3">
      <ul><li class="title">
        <h2>{dede:type typeid="6"}<a href="[field:typelink /]">[field:typename /]</a>{/dede:type}</h2>
        <p>全国预约热线：400-024-9277</p>
        <span>{dede:type typeid="6"}<a href="[field:typelink /]">{/dede:type}更多</a></span></li>
      </ul>	
      <dl>
      	<dt>{dede:arclist typeid="6" idlist='1'}<a href='[field:arcurl/]'>{/dede:arclist}	<img src="/images/daixiuli.jpg" width="121" height="111" alt="戴秀丽"></a></dt>
        <dd><strong>{dede:arclist typeid="6" idlist='1'}<a href='[field:arcurl/]'>{/dede:arclist}	戴秀丽</a></strong><em>爱齿院长：全科医师</em><p>戴秀丽院长从业20多年…</p></dd>
      </dl>
      <dl>
      	<dt>{dede:arclist typeid="6" idlist='2'}<a href='[field:arcurl/]'>{/dede:arclist}	<img src="/images/weiwei.jpg" width="121" height="111" alt="魏伟"></a></dt>
        <dd><strong>{dede:arclist typeid="6" idlist='2'}<a href='[field:arcurl/]'>{/dede:arclist}	魏伟</a></strong><em>院长助理：全科医师</em><p>魏伟院长助理从业15多年…</p></dd>
      </dl>
      <dl>
      	<dt>{dede:arclist typeid="6" idlist='3'}<a href='[field:arcurl/]'>{/dede:arclist}	<img src="/images/guyue.jpg" width="121" height="111" alt="谷岳"></a></dt>
        <dd><strong>{dede:arclist typeid="6" idlist='3'}<a href='[field:arcurl/]'>{/dede:arclist}	谷岳</a></strong><em>主任医师：全科医师</em><p>谷岳主任医师从业17多年…</p></dd>
      </dl>            
    </section>    
    </article>
  <footer>
    <address>
      医院地址：辽宁省沈阳市和平区十三纬路23号(东北炊具城南走100米,紧邻辽海机械厂)
    </address>
    <div class="footer_inner">
        <a href="tel:400-024-9277">电话预约</a>
        <a href="http://net.zoosnet.net/LR/Chatpre.aspx?id=NET89387816" target="_blank">在线咨询</a>
        <a href="/html/map.html" class="no_pd">查看地图</a>
    </div>
  </footer>
</div>

<script type="text/javascript">
	var menu = document.getElementById("menu");
	var sidebar1 = document.getElementById("sidebar1");
	var btn_list = document.getElementById("btn_list");
	var menu_list_box = document.getElementById("menu_list_box");	
	menu.onclick=function(){
		if(sidebar1.style.display == "none"){
			document.body.style.marginLeft = "-152px";
			
			sidebar1.style.display = "block";
		}else{
			sidebar1.style.display = "none";
			document.body.style.marginLeft = "0";	
		}
		
	};
	btn_list.onclick=function(){
		displaying(menu_list_box);
	};
	function displaying(myid){
		if(myid.style.display == "none"){
			myid.style.display = "block";
		}else{
			myid.style.display = "none";
		}
	};
</script>

</body>
</html>
<script language="javascript">
<!--
	var LiveAutoInvite0='您好，来自%IP%的朋友'; 
	var LiveAutoInvite1='来自首页自动邀请的对话';
	var LiveAutoInvite2='网站商务通主要功能：<br>1、主动邀请<br>2、即时沟通<br>3、查看即时访问动态<br>4、访问轨迹跟踪<br>5、内部对话<br>6、不安装任何插件也实现双向文件传输<br><br><b>如果您有任何问题请接受此邀请以开始即时沟通</b>';
	var LrinviteTimeout=0;

//-->
</script>
<script language="javascript" src="http://net.zoosnet.net/JS/LsJS.aspx?siteid=NET89387816&float=1&lng=cn"></script>