<div class="sidebar1" id="sidebar1" style="display:none;">
      <ul class="sidebar1_sub">
      	{dede:channel type='top' row='10'}
      	<li><a href='[field:typeurl/]' [field:rel/]>[field:typename/]</a></li>
      	{/dede:channel}
      </ul>	
</div>
  <header>
  	<div class="top">
        <a href="/index.html"><img src="/images/logo.png" alt="沈阳市和平区爱齿口腔门诊部logo" width="83" height="82" id="Insert_logo"/></a>
        <img src="/images/logo_2.png" width="116" height="57" class="logo2" alt="爱齿口腔 AICHI DENTAL"/>
        <img src="/images/logo_3.png" width="17" height="23" class="logo3" alt="爱齿口腔 蒲公英"/>
   	  <h1>中国<b>口腔</b>业第一品牌</h1>
        <a id="menu"><img src="/images/menu.png" width="86" height="82"  class="menu" alt="爱齿口腔 导航"/></a>
    </div>
  	<div class="down">
    	<div class="down_inner">
            {dede:type typeid="7"}<a href="[field:typelink /]">{/dede:type}<img src="/images/Dental-treatment.png" width="137" height="144" alt="牙齿治疗"></a>{dede:type typeid="8"}<a href="[field:typelink /]">{/dede:type}<img src="/images/oral-rehabilitation.png" width="137" height="144" alt="牙齿修复"></a>
           {dede:type typeid="9"}<a href="[field:typelink /]">{/dede:type}<img src="/images/Teeth-beauty.png" width="137" height="144" alt="牙齿美容"></a>
           {dede:type typeid="10"}<a href="[field:typelink /]">{/dede:type}<img src="/images/Porcelain-teeth.png" alt="烤瓷牙" width="137" height="144" border="0"></a>
      </div>
   	  <a href="http://net.zoosnet.net/LR/Chatpre.aspx?id=NET89387816" target="_blank"><img src="/images/consult.png" width="607" height="52" class="consult" alt="在线咨询"></a>
    </div>
  </header>