<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={dede:global.cfg_soft_lang/}" />
<meta name="viewport" content="user-scalable=no, width=device-width" /><link type="text/css" rel="stylesheet" media="only screen and (max-width:320px)" />
<title>{dede:global.cfg_webname/}</title>
<meta name="description" content="{dede:global.cfg_description/}" />
<meta name="keywords" content="{dede:global.cfg_keywords/}" />
<link href="/css/HTML5_twoColFixRtHdr.css" rel="stylesheet" type="text/css">

<!--[if lt IE 9]>
<script src="/js/html5.js"></script>
<![endif]-->
<!--[if lte IE 6]>
<script src="/js/ie6png.js"></script>
<script type="text/javascript">
	DD_belatedPNG.fix("img,header,footer,address,section,a,li,div,dt");
</script>
<![endif]-->

</head>

<body style="margin-left: 0px;">
<div class="container">
{dede:include filename="head.htm"/}
  <article class="content">
  <section class="content_1">
    <p>沈阳市和平爱齿口腔门诊部:<br />
      是经国家注册在沈阳投资三千万人民币专业从事口腔医疗,口腔保健……<br />
      爱齿口腔关注全国人民的口腔健康，免费为您提供咨询服务。<br />
      服务宗旨：帮助员工达成梦想，帮助患者解除病痛。<br />
      热线电话：400-024-9277 </p>
  </section>
  <section class="content_2">
    <ul>
      <li class="title">
        <h2>{dede:type typeid="1"}<a href="[field:typelink /]">[field:typename /]</a>{/dede:type}</h2>
        <p>全国预约热线：400-024-9277</p>
        <span>{dede:type typeid="1"}<a href="[field:typelink /]">{/dede:type}更多</a></span></li>
      <li>{dede:type typeid="2"}<a href="[field:typelink /]">[field:typename /]</a>{/dede:type}<span>{dede:type typeid="2"}<a href="[field:typelink /]">{/dede:type}更多</a></span></li>
      <li>{dede:type typeid="3"}<a href="[field:typelink /]">[field:typename /]</a>{/dede:type}<span>{dede:type typeid="3"}<a href="[field:typelink /]">{/dede:type}更多</a></span></li>
      <li>{dede:type typeid="4"}<a href="[field:typelink /]">[field:typename /]</a>{/dede:type}<span>{dede:type typeid="4"}<a href="[field:typelink /]">{/dede:type}更多</a></span></li>
      <li>{dede:type typeid="5"}<a href="[field:typelink /]">[field:typename /]</a>{/dede:type}<span>{dede:type typeid="5"}<a href="[field:typelink /]">{/dede:type}更多</a></span></li>
    </ul>
  </section>
 {dede:include filename="footer.htm"/}