<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={dede:global.cfg_soft_lang/}" />
<meta name="viewport" content="user-scalable=no, width=device-width" /><link type="text/css" rel="stylesheet" media="only screen and (max-width:320px)" />
<title>{dede:field.title/}_{dede:global.cfg_webname/}</title>
<meta name="description" content="{dede:global.cfg_description/}" />
<meta name="keywords" content="{dede:global.cfg_keywords/}" />
<link href="/css/HTML5_twoColFixRtHdr.css" rel="stylesheet" type="text/css">
<!--[if lt IE 9]>
<script src="/js/html5.js"></script>
<![endif]-->
<!--[if lte IE 6]>
<script src="/js/ie6png.js"></script>
<script type="text/javascript">
	DD_belatedPNG.fix("img,header,footer,address,section,a,li,div,dt");
</script>
<![endif]-->

</head>

<body style="margin-left: 0px;">
<div class="container">
{dede:include filename="head2.htm"/}
  <article class="content">
  <section class="content_4">
    <div class="title_article"><b><a href="/index.html">首页</a></b> > <h1>沈阳和平爱齿口腔门诊部地址</h1> </div> 
    <iframe style="padding:10px 18px 0" width="602" height="882" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://j.map.baidu.com/FUejp"></iframe>
	<div style="clear:both;padding:10px 0"></div>                
  </section>
  <section class="content_4">
	<ul class="menu_list"><span id="btn_list" class="btn_list">分类导航</span>
		<div id="menu_list_box" style="display:none">
		{dede:channel type='top' row='10'}
      	<li><a href='[field:typeurl/]' [field:rel/]>[field:typename/]</a></li>
      	{/dede:channel}
		</div>
	</ul>                
  </section>  
 {dede:include filename="footer.htm"/}